body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin: 0;
    padding: 1em 0;
  }
  
  p{
    margin: 0;
    padding: 1em 0;
  }

#registration-section{
    padding-bottom: 7em;
}

@media(min-width: 700px){
  .grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .content-wrap, #registration-section{
    grid-column: 2/4;
  }

}